body {
    background-image: url('../images/bar-463476_1280.jpg'); 
    background-size: cover;
    background-position-y: 2%; 
    background-repeat: no-repeat;
}

#content {
    margin-top: 2%;
    color: white;
    max-width: 800px;
}

#splashJumbo {
    background-color: rgb(32, 32, 32, 0.9);
    /* background-image: url("../images/wood_1_@2X.png"); */
    color: white;
    margin-top: 2%;
    max-width: 800px;

}

#signUpBtn {
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
}

#inputFields {
 margin: auto;
 margin-top: 0%;
 width: 95%;   
 line-height: 3;
 margin-bottom: 2%;
}

#label {
margin-bottom: 0%;
}

#lead {
    margin: auto;
    width: 95%;   
    line-height: 1;
}

#submit2 {
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;

}



.modal {
  color: rgb(76, 62, 62);

}

a {
    color: white;
    text-decoration-color: rgba(122, 122, 122, 0.9);
}

a:hover {
    color: rgba(122, 122, 122, 0.9);

}

.title {
    font-family: 'Vast Shadow', cursive;
    font-size: 108px;
    line-height: 0.75;
    text-align: center;


}

.bigTitle {
    font-family: 'Vast Shadow', cursive;
    font-size: 175px;
    line-height: .75;
    text-align: center;

}

.subTitle {
    font-family: 'Sacramento', cursive;
 color: rgb(224, 191, 0);
text-align: center;
line-height: 1.5;
}

hr {
    background-color: white;
}

.emoji {
    font-size: 100px;
    text-align: center;
}

/* body {
    background-image: url('../images/city-peds-3.png');
    background-image: url('../images/wya.png');
    background-size: cover;
    background-position-y: 2%;
} */

.navbar {
background-color: rgb(32, 32, 32, 0.9);
}



#locationJumbo {
    background-color: rgb(32, 32, 32, 0.9);
    color: white;
    height: 325px;
    margin-top: 2%;
    /* max-width: 800px; */

}

#inputFields {
 margin: auto;
 width: 90%;   
}

#submit {
    float: right;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 10%;
}



.modal {
  color: rgb(32, 32, 32);

}


a {
    color: white;
}

.glyphicon {
    color: white;
}

a {
    color: white;
    text-decoration-color: rgba(122, 122, 122, 0.9);
}

a:hover {
    color: rgba(122, 122, 122, 0.9);

}

.navbar-brand {
    font-family: 'Vast Shadow', cursive;
    FONT-SIZE: 16PX;
}

.navbar-right {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
}

#inputFieldTitle {
    width: 90%;   
    margin: auto;
    margin-bottom: 2%;

}

#lead {
    margin: auto;
    width: 90%;   
}

#one {
    /* margin-bottom: 2%; */
    margin-top: 5%;
}

.mapHere {
    background-color: orange;
    padding-bottom: 300px;
    color: white;
    text-align: center;
}

.barInfo {
margin: 0px;
}


a {
    color: white;
}

#crimeTable {
    width: 75%;
    margin: auto;
    /* padding-bottom: 5%; */
    /* padding-top: 5%; */
    background-color: rgb(71, 71, 71);
    margin-top: 0px;
}


#crimeTableHolder {
    background-color: rgb(71, 71, 71);
margin: auto;
padding: 100px;
}


#historyTable {
    margin: auto;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: orange;
    width: 75%;
}

#historyTableContainer {
    background-color: orange;
    padding: 100px;
}

#crimeTable {
    color: white !important;
}

#crimeDataTitle {
    color: white;
}
.list-item-div{
    border: 1px solid black;
    background-color: orange;
}
.list-item-div:hover{
    border: 1px solid black;
    background-color: rgb(71, 71, 71);
    color: white;
}
