.navbar {
    background-color: rgb(32, 32, 32, 0.9);
    }
#one {
    /* margin-bottom: 2%; */
    margin-top: 5%;
}

.jumbotron {
    text-align: center; 
}

.mapHere {
    background-color: orange;
    padding-bottom: 300px;
    color: white;
    text-align: center;
}

.barInfo {
margin: 0px;
}


a {
    color: white;
}

#crimeTable {
    width: 75%;
    margin: auto;
    /* padding-bottom: 5%; */
    /* padding-top: 5%; */
    background-color: rgb(71, 71, 71);
    margin-top: 0px;
}


#crimeTableHolder {
    background-color: rgb(71, 71, 71);
margin: auto;
padding: 100px;
}


#historyTable {
    margin: auto;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: orange;
    width: 75%;
}

#historyTableContainer {
    background-color: orange;
    padding: 100px;
}

#crimeTable {
    color: white !important;
}

#crimeDataTitle {
    color: white;
}

#crimeTableHolder:after {
	content: '';
    position: absolute;
    /* top: 10%; */
	left: 10%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-bottom-color: rgb(71, 71, 71);
	border-top: 0;
	margin-left: -40px;
	margin-top: -40px;
}